name: Compilation test

on: [push, pull_request]

jobs:
  build:
    name: Build the contracts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker://node:12.14.1
      - name: Install dependencies
        run: npm install --include-dev --save-exact
      - name: Build the contracts
        run: npm run build
      - name: Run tests and get coverage
        run: npm run coverage
      - name: Upload reports to Codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x ./codecov
          ./codecov -f coverage/coverage-final.json -Z